.batch-form input, .batch-form select{
    border: 1px solid black;
    width: 100%;
    outline: none;
    padding: 0.5em;
    border-radius: 0.5em;
}

.batch-form label{
    font-weight: 500;
    margin-bottom: 0.3em;
}

input::placeholder, select{
    color: rgba(var(--secondary-color), 0.8);
}

.submit-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1em 0;
    padding-right: 1em;
}

.submit-btn>input{
    border: none;
    width: max-content;
    background-color: rgb(var(--primary-blue));
    color: white;
    padding: 0.4em 0.8em;
    font-weight: 600;
}

span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.mui-ahj2mt-MuiTypography-root{
    font-size: 1.6rem;
}

.mui-1bqgrfu-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: rgb(var(--primary-blue)) !important;
}

.mui-1aquho2-MuiTabs-indicator{
    background-color: rgb(var(--primary-blue)) !important;
}

p.MuiTablePagination-displayedRows.mui-levciy-MuiTablePagination-displayedRows {
    font-size: 1.6rem !important;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.mui-i4bv87-MuiSvgIcon-root {
    font-size: 2.4rem !important;
}